@model List<Section3>

<div class="h1  text-center  mt-5">نوشیدنی سرد</div>
<section class="section_3 ">
    <div class="swiper mySwiper container ">
        <div class="swiper-wrapper content   ">


            @foreach(var Section3 in Model)
            {
                  <div class="swiper-slide card " style="width: 18rem;">
                <img class=" card-img-top rounded" src="~/assets/caffee/@Section3.Image" alt="@Section3.Name">
                <h5 class="card-title text-center mt-3 text-light"> @Section3.Name</h5>
            </div>


            }
          

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>