



<footer>
    <div class="container-fluid ">
        <div class="row ">

            <div class="col-md-4" id="contactus">
                <h4 class="text-light">ارتباط با ما</h4>
                <div class="column mt-3">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram "></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>

            <div class="col-md-4 text-light">
                <p class=" pt-2 ">

                    <h3>برو به </h3>
                    <br>
                    <a href="#home"> <i class="fas fa-arrow-right"></i> خانه </a><br>
                    <a href="#menue"> <i class="fas fa-arrow-right"></i> منیو</a><br>
                    <a href="#aboutus"> <i class="fas fa-arrow-right"></i> درباره ما</a><br>
                    <a href="#reservation"> <i class="fas fa-arrow-right"></i> رزرو </a>
                </p>
            </div>


            <div class="col-md-4 col-12 col-lg-4 col-sm-12">
                <p class="mt-5">
                    <span> copyright@2022 All rights reserved | This template is made by </span>
                    <span>Melika Solgi</span>
                </p>
            </div>

        </div>
    </div>
</footer>